<div id="home">
    <div class="container">

        <div>
            <img class="img-responsive mx-auto d-block bignews" src="/images/in-the-news_999x333.jpg">
        </div>

        <br>

        <!-- Table -->
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-header"><img class="img-responsive mx-auto d-block spider" src="/images/spider.png"
                            style="float:left">
                        University of Richmond Spider's in the News!
                        <img class="img-responsive mx-auto d-block spider" src="/images/spider.png" style="float:right">
                    </div>
                </div>
                <div class="card-body">
                    <table id="article-table" class="table table-hover display">
                        <tbody>
                            {{#each articles as |article articleId|}}

                            <div class="row cardrow" id="row{{this.id}}" data-id="{{this.id}}">
                                <div class="col-lg-3" id="thumbnail{{this.id}}">
                                    <!--if no thumbnail image, display the UR shield-->
                                    {{#if thumbnail}}
                                    <img class="img-fluid mx-auto d-block thumbnail" src={{this.thumbnail}} alt="">
                                    {{else}}
                                    <img class="img-fluid mx-auto d-block urshield" src="/images/shieldSmall.png"
                                        alt="">
                                    {{/if}}
                                </div>
                                <div class="col-lg-9 title cols" id="titlelink{{this.id}}"><a target="_blank"
                                        href={{this.link}}>{{this.title}}</a>
                                    <div class="summary cols">
                                        <p data-id="{{this.id}}">{{this.summary}}</p>
                                    </div>
                                </div>

                            </div>

                            <div class="row btnrow">
                                <div class="col-lg-6">
                                    <button type="button" class="btn btn-sm btn-primary addnote d-none"
                                        id="addbtn{{this.id}}" data-id={{this.id}}>Add
                                        Note</button>
                                </div>
                                <div class="col-lg-6 notebtncol">
                                    <button type="button" class="btn btn-sm btn-primary notesbtn"
                                        id="notesbtn{{this.id}}" data-id={{this.id}}>Notes
                                    </button>
                                </div>
                            </div>



                            <div id="notes{{this.id}}">
                                <table id="notes-table{{this.id}}" class="table table-hover display">
                                    <div class="row hrow d-none" id="hrow{{this.id}}" data-id="{{this.id}}">
                                        <div class="col-lg-3"></div>
                                        <div class="col-lg-3 notesheader">Note Title</div>
                                        <div class="col-lg-5 notesheader">Note</div>
                                    </div>
                                    <!--notes details will be dynamically built-->
                                    <tbody id="brow{{this.id}}">


                                    </tbody>
                                </table>

                            </div>

                            <hr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <footer>MongoScraping the UR news site <a target="_blank" href="https://news.richmond.edu/releases/index.html">
            https://news.richmond.edu/releases/index.html</a></footer>

    <!-- MODALS -->
    <!--add modal -->
    <div class="modal" id="addModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Note</h5>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <div class="row">
                                <div class="col">
                                    <label>Title</label>
                                    <input type="text" class="form-control" id="titleinput" required>
                                </div>
                                <div class="col">
                                    <label>Note</label>
                                    <textarea type="text" class="form-control" id="bodyinput" required></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" id="modalClose"
                                    data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary" id="savenote">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Confirm Delete Modal -->
    <!--div class="modal" id="confirmModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete entry</h5>
            </div>
            <div class="modal-body">
                <form action="/deletenote/{{this.id}}" method="post">
                    <p>
                        <h5>Are you sure you want to delete?</h5>
                    </p>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            id="modalCloseConfirm">Cancel</button>
                        <button type="submit" class="btn btn-primary" id="submit-delete">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div-->
</div>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<!--script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script-->
<script src="/js/app.js"></script>